{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div id="root">
        <section id="main-section">
            <div id="wrap">
                <h2>로그인</h2>
                <form method="POST" action="/api/v1/users/login">
                    {% csrf_token %}
                    <input type="text" id="username" name="username" placeholder="username">
                    <input type="password" id="password" name="password" placeholder="password">
                    <input type="submit" value="로그인">
                    <input type="reset" value="취소">
                </form>
            </div>
        </section>
    </div>
</body>
</html>